/* start: colors */

$color-main: #8ac6d1;
$color-main-variant: #5fafbd;
$color-sub-main: #bbded6;
$color-sub-main-variant: #9dd3c7;
$color-secondary: #ffb6b9;
$color-secondary-variant: #fd9b9f;
$color-sub-secondary: #fae3d9;
$color-sub-secondary-variant: #f7d1c0;

$color-white: #ffffff;
$color-gray-50: #fafafa;
$color-gray-100: #f5f5f5;
$color-gray-150: #f0f0f0;
$color-gray-200: #f0f0f0;
$color-gray-250: #e5e5e5;
$color-gray-300: #e0e0e0;
$color-gray-350: #dddddd;
$color-gray-400: #bdbdbd;
$color-gray-500: #9e9e9e;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;
$color-gray-950: #141414;
$color-black: #000000;

/* end: colors */

/* start: size */

$size-mobile: 780px;
$size-font-default: 10px;
$size-font-mobile: 6px;
$height-nav: 5rem;
$width-nav: 960px;

/* end: size*/

/* start: font */

$font-main: 'PAYW Pro';

/* end: font */
