@import '~styles/package';

.layout[data-component] {
  .container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem;

    main {
      min-height: calc(100vh - #{$height-header} - #{$height-footer});
      padding: 5rem 0;
    }

    footer {
      background-color: $color-gray-400;
    }
  }
}
