@import '~styles/package';

.header[data-component] {
  border-bottom: 1px solid $color-gray-100;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height-header;
    max-width: $width-header;
    margin: 0 auto;

    .title {
      display: flex;
      align-items: center;
      font: {
        size: 1.8rem;
        weight: 600;
      }
      color: $color-gray-900;

      .laptop-icon {
        color: $color-main;
        margin-right: 0.6rem;
      }
    }
  }
}
